@model MVC7amThundersBatch.Models.EmpDeptModel
@{
    ViewBag.Title = "getEmpDept";
}

<h2>Employee</h2><br />

@Model.Emp.EmpId<br />
@Model.Emp.EmpName<br />
@Model.Emp.EmpSalary<br />

<h2> Department </h2><br />

@Model.Dept.DeptId<br />
@Model.Dept.DeptName<br />